html {
  margin-left: 10px;
  margin-right: 10px;
}
/********** Base styles **********/
* {
  box-sizing: border-box;
  font-size: 14px;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 175%;
}

div {
  position: relative;
  background-color: #8F8F8F;   /*grey*/
  margin-bottom: 10px;
}

p {
  font-family: Helvetica;
  color: black;
  margin-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Simple Responsive Framework. */
/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4, .col-lg-gutter {
    float: left;
    border: 2px solid black;
    height: 175px;
  }
  .col-lg-4 {
    width: 32%;
  }
  .col-lg-gutter {
    width: 2%;
    border: hidden;
    background-color: white;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12, .col-md-gutter, .col-md-nogutter {
    float: left;
    border: 2px solid black;
    height: 175px;
  }
  .col-md-6 {
    width: 49%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-gutter {
    width: 2%;
    border: hidden;
    background-color: white;
  }
  .col-md-nogutter {
   width: 0%;
   border: hidden;
  }  
}

/********** Small devices only **********/
@media (max-width: 767px) {
    .col-sm-12, .col-sm-nogutter {
    float: left;
    border: 2px solid black;
    height: 175px;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-nogutter {
    width: 0%;
    border: hidden;
  }
}
.topRight {
  position: absolute;
  width: 100px;
  height: 30px;
  padding-top: 3px;
  margin-top: 0px;
  top: 0px;
  right:0px;
  text-align: center;
  border: 2px solid black;
  font-weight: bold;
  font-size: 125%;
}

.pinkBG {
  background-color: #D59898;  /* pink */;
  color: black;
} 

.maroonBG {
  background-color: #C14543;  /* maroon */
  color: white;
}

.creamBG {
  background-color: #E5D198;   /* cream */
  color: black;
}
.row {
  width: 100%;
  height: 175;
}
